# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Environnements virtuels
.env
.venv/
venv/
env/

# Données (trop volumineuses pour Git)
data/*.csv
data/*.json
data/*.parquet

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Power BI
*.pbix

# Exports ML
ml/churn_predictions.csv

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
